body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #00008B; /* Dunkelblau */
    margin: 0;
    padding: 2em;
    height: 90vh;
    background: url(../img/icon.png) 95% 95% no-repeat;
    background-size: 20vh;
    overflow: hidden; /*verhindert scrollen*/
}
h1 {
    color:#ffffff; /*weiße Schriftfarbe/*
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.description 
{ 
    color: #cccccc; /* Hellgraue Schriftfarbe */ 
    padding: 10px; 
    background-color: #333333; /* Dunkelgrauer Hintergrund */ 
}
p {
    width: 80vw;
}
a {
    color: #369;
}
#level1Button 
{ 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
}
.snowflake { 
    position: absolute; 
    top: 0; z-index: 9999; 
    color: #ffffff; 
    user-select: none; 
    pointer-events: none; 
    font-size: 1em; 
    will-change: transform; 
    animation: fall linear infinite; 
} 
@keyframes fall { 
    0% { transform: translateY(0); } 
    100% { transform: translateY(100vh); } 
}
