body {
  background-color: #00008B; /* Dunkelblau */
  font-family: Arial, sans-serif;
  color: white; /* Weiße Schriftfarbe für besseren Kontrast */
  overflow: hidden; /* Verhindert Scrollen */
}

h1 {
  color: #ffffff; /* Weiße Schriftfarbe */
}

.description {
  color: #cccccc; /* Hellgraue Schriftfarbe */
  padding: 10px;
  background-color: #333333; /* Dunkelgrauer Hintergrund */
}

.calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 Spalten */
  grid-gap: 10px;
  padding: 10px;
}

.levelButton {
  background-color: #ff0000; /* Rotes Hintergrund */
  color: gold; /* Weiße Schriftfarbe */
  border: 5px solid gold; /* Goldener Rand */
  border-radius: 15px; /* Runde Ecken */
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Glatter Übergang */
}

.levelButton:hover {
  background-color: #00cc00; /* Grüner Hintergrund beim Hover */
  transform: scale(1.1); /* Leichtes Vergrößern beim Hover */
}

#snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}

.snowflake {
  position: absolute;
  top: 0;
  color: #ffffff;
  user-select: none;
  pointer-events: none;
  font-size: 1em;
  will-change: transform;
  animation: fall linear infinite;
}

@keyframes fall {
  0% { transform: translateY(0); }
  100% { transform: translateY(100vh); }
}
